@import "/node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: poppinsRegular;
    src: url("..//assets//Poppins-Regular.ttf")
}

@font-face {
    font-family: scarlett;
    src: url("..//assets/ScarlettBusiatDemo-9YP92.ttf")
}

@font-face {
    font-family: poppinsExtraLight;
    src: url("..//assets//Poppins-ExtraLight.ttf")
}

@font-face {
    font-family: poppinsThin;
    src: url("..//assets//Poppins-Thin.ttf")
}

@font-face {
    font-family: abril;
    src: url("..//assets//AbrilFatface-Regular.ttf")
}



.nav-fluid-container {
    background-color: #2c2825;
}

.nav-bar {
    background-color: #2c2825;
    height: 7vw;
}

.navLogo {
    max-width: 12vw;
}

.nav-link {
 color: #f5e5d0;
 font-size: 1.3em;
 font-family: poppinsRegular
}

.line {
 border-bottom: solid 1px #dbcdba;
 width: 78%;
}

.home-container {
 background-color: #2c2825;
 height: auto;
 padding-top: 12vw; 
}

.hero {
 padding-top: 10em;
 height: auto;
 background-image: url('../assets/giulato-home-cover-bckdrp.png');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 50% 70%;
 border: solid 2px #f4e4d0
}

.logo-dropshadow {
    height: auto;
    position:absolute;
    top: 19vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-heading {
    font-family: scarlett;
    color: white;
    font-size: 5.5rem;
}

.home-paragraph {
    margin-bottom: 4.5rem;
    color: white;
    text-align: center;
    font-family: poppinsRegular;
    font-style: italic;
}

.footer {
    height: 30vh;
    background-color: #f5e5d0;
}

.trademark {
    font-family: poppinsRegular;
    font-weight: bold;
    font-size: 0.8rem;
}

.designed {
    font-style: italic;
    font-family: poppinsExtraLight;
    opacity: 0.5;
}

.footer-logo {
    max-width: 10rem;
}

.menu-container {
    background-color: #2c2825;
    height: auto;
   }

.popular-flavors {
    font-family: abril;
    font-size: 4.5rem;
    color: #f5e5d0;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.divider-black {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider-black::before,
.divider-black::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000000;
}

.divider::before {
  margin-right: 3rem;
}

.divider::after {
  margin-left: 3rem;
}

.divider-black::before {
    margin-right: 3rem;
  }
  
.divider-black::after {
    margin-left: 3rem;
  }

.banner-container {
 height: 45vh;
 width: 100%;
}

.banner {
 object-fit: cover;
 object-position: 50% 60%;
 height: 100%;
}

.menu-paragraph {
    color: white;
    text-align: center;
    font-family: poppinsRegular;
}

.order-button {
    color: #f5e5d0;
    background-color: black;
    width: 15vw;
    font-size: 1.5rem;
    font-family: poppinsRegular;
    border: solid 1px #f5e5d0;
}

.menu-image-container {
    height: 15vw;
    width: 15vw;
}

.menu-image {
    object-fit: cover;
    object-position: 50% 80%;
    height: 100%;
    width: 100%;
    border: solid 1px #f5e5d0;
}

.gelato-heading {
    font-family: scarlett;
    font-size: 6rem;
    color: #f5e5d0;
}

li {
    font-family: abril;
    font-size: 1.5rem;
    color: #f5e5d0;
}

ul {
    list-style: none;
}

.reverse-list {
    text-align: end;
}

.inquire {
    font-family: poppinsRegular;
    font-size: 1.5rem;
    color: #f5e5d0;
}

.order-button:hover {
    background-color:black !important;
    color: rgb(142, 142, 142) !important;
}

.book-button:hover {
     background-color:black !important;
    color: rgb(142, 142, 142) !important;
}

.customize {
    font-family: scarlett;
    font-size: 3.5rem;
}

.cart-requirements {
    font-family: scarlett;
    font-size: 4rem;
    color: #f5e5d0;
    border-bottom: solid 1px #f5e5d0;
}

.cart-requirements-paragraph {
    font-family: poppinsRegular;
    color: #f5e5d0;
}

.cart-heading {
    color: #f5e5d0;
    font-family: poppinsRegular;
    font-style:italic;
    font-weight:bolder;
}

.cart-li {
    font-size: 1rem;
    font-family: poppinsRegular;
    list-style-type:initial;
}

.italicbold {
    font-style: italic;
    font-weight: bolder;
}

.book-button {
    background-color: #f5e5d0;
    font-family: poppinsRegular;
    font-weight: bold;
    width: 12vw;
}

  label {
    font-family: poppinsRegular;
    font-weight: bold;
  }

  .contact-us {
    color: #f5e5d0;
    font-family: abril;
    font-size: 5rem;
  }

  .contact-links {
    color: #c1bab1;
    font-family: poppinsRegular;
    font-weight: bold;
  }

  a:hover {
    color: #a79e92 !important;
  }
  
a:focus {
    color: #f5e5d0 !important ;
}

.order-paragraph {
    color: black;
    text-align: center;
    font-family: poppinsRegular;
}

/* Media Queries */

@media only screen and (max-width: 1800px) {

    .line {
        width: 80%;
       }
}

@media only screen and (max-width: 1600px) {

    .line {
        width: 84%;
       }

    .nav-bar {
        height: 8vw;
    }

    .logo-dropshadow {
        top: 22vw;
    }
}

@media only screen and (max-width: 1400px) {

    .line {
        width: 83%;
       }
    
       .nav-bar {
        height: 9vw;
    }

    .logo-dropshadow {
        top: 21vw;
    }

    .hero {
        background-position: 10% -20px;
    }

    .banner-container {
        height: 30vw;
    }

    .menu-image-container {
        height: 20vw;
        width: 20vw;
    }

}



@media only screen and (max-width: 1200px) {
    .nav-bar {
        height: 9vw;
    }

    .line {
        width: 80%;
       }
    
    .home-heading {
        font-size: 5rem;
    }

    .order-button {
        width: 20vw;
    }
}

@media only screen and (max-width: 992px) {
    .nav-bar {
        height: 9vw;
    }

    .line {
        display: none;
       }

    .navLogo {
    padding-top: 1rem;
    }

    .home-heading {
        font-size: 4rem;
    }

    .order-button {
        width: 25vw;
    }

    .menu-image-container {
        height: 22vw;
        width: 22vw;
    }

    .book-button {
        width: 20vw;
    }

    .contact-us {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    .navcart {
        display: none;
    }

    .logo-dropshadow {
        top: 25vw;
    }

    .home-heading {
        font-size: 3rem;
    }

    .order-button {
        width: 30vw;
    }

    .gelato-heading {
        padding: 0 !important;
        font-size: 4rem;
    }

    .popular-flavors {
        font-size: 3rem;
    }

    .customize {
        font-size: 3rem;
    }

    .order-paragraph {
        width: 75% !important;
    }

    .contact-us {
        font-size: 3rem;
    }

    .contact-container {
        height: 40vw !important;
    }

    .contact-links-container {
        width: 75% !important;
    }
}


@media only screen and (max-width: 576px) {
    .home-heading {
        font-size: 2.5rem;
    }

    .order-button {
        width: 35vw;
    }
    
    .customize {
        font-size: 2rem;
    }

    .book-button {
        width: 35vw;
    }

    .cart-requirements-paragraph {
        text-align: center;
        margin-bottom: 3rem;
        width: 75% !important;
        padding: 0 !important;
    }

    .cart-list {
        padding: 0 !important;
        border-left:none !important;
        width: 50% !important;
    }

    .cart-heading {
        padding: none !important;
    }

    .contact-us {
        font-size: 1.7rem;
    }

    .contact-links-container {
        width: 80% !important;
    }
}

@media only screen and (max-width: 500px) {
    
    .contact-us {
        font-size: 1.3rem;
    }


    .contact-links-container {
        padding-left: 1rem !important;
        width: 100% !important;
    }

    .insta {
        margin-right: 1rem !important;
    }

    .nav-link {
        font-size: 1rem;
    }

    .trademark {
        font-size: 0.6rem;
    }

    .home-heading {
        font-size: 2rem;
    }

    .hero {
        padding-top: 7em;
    }
}

@media only screen and (max-width: 415px) {
    
   .contact-container {
    height: 45vw !important;
   }

   .contact-links-container {
    padding-left: 1rem !important;
   }

   .contact-div {
    width: 25% !important;
   }

   .contact-us {
    text-align: center;
   }

   .order-button {
    font-size: 1rem;
   }


   .input-container, .input-container-two {
    flex-direction: column;
    gap: 0 !important; 
   }

   .first-name {
    margin-bottom: 1rem;
   }

   .guests {
    margin-bottom: 1rem;
   }
}